.head-context{
    margin: 20px auto;
    width: 90%;
    height: 300px;
    position: relative;
}
.head-context img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0.9;
    z-index: -1;
}
.head-context h2{
    width: 50%;
    position: absolute;
    color: white;
    top: 30%;
    left: 5%;
    font-size: 34px;
    z-index: 0;
}
.context{
    width: 90%;
    height: auto;
    padding: 10px;
    background-color: white;
    margin: auto;
    border-bottom: 1px solid rgb(255, 0,0 );
    border-radius: 10px;
    padding: 10px 0;
}
.context-title{
    width:90%;
    height: 40px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: red;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    margin: 10px auto 10px auto;
}
.booklist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.book{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    padding: 30px 20px;
    border: 1px solid rgba(94, 90, 90, 0.3);
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgb(228, 226, 226);
    text-align: left;
    overflow: hidden;
}
.book-poster img{
    width: 200px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.book-info{
    display: flex;
    flex-direction: column;
}

.book-info .book-title{
    font-size: 14px;
    font-weight: 550;
}

.book-info .book-author{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px
}

@media only screen and (max-width: 960px){
    .head-context h2{
        top:10%;
        left: 5%;
    }
}