.user-form-main{
    background-image: url(https://images.unsplash.com/photo-1544716278-e513176f20b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: fixed;
    -webkit-background-size: calc(100vw) calc(100vh);
    -moz-background-size: calc(100vw) calc(100vh);
    -o-background-size: calc(100vw) calc(100vh);
    background-size: calc(100vw) calc(100vh);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.user-form{
    position: absolute;
    top: 20%;
    left: 60%;
    background-color: rgb(221, 221, 221, 0.2);
    padding: 2rem 4rem;
    text-align: center;
    border-radius: 5px;
}
h2{
    font-weight: 500;
    margin-bottom: 20px;
}

p{
    margin-bottom: 10px;
    padding: 10px;
}

.user-form input[type="submit"]{
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    background-color: rgb(4, 32, 126);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.login-link a{
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
}
.login-link a:hover{
    color: rgb(7, 3, 255);
}

.user-form table td{
    padding-bottom: 20px;
}

@media only screen and (max-width: 960px){
    body{
        overflow-y: hidden;
    }
    .user-form-main{
        background-size: auto;
        background-position: left;
        justify-content: center;
    }
    .user-form{
        position: relative;
        left: 0;
        padding: 0;
    }
}