{% load static %}
<!DOCTYPE html>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}?{% now "U" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bookpage.css' %}?{% now "U" %}">
    </head>
    
    <body>
        <div class="nav">
            <div class="nav-left">
                <form method="GET">
                    <input type="text" name="search" placeholder="Search"/>
                    <input type="submit" />
                </form>
            </div>
            <div class="nav-right">
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/catalogs/"><li>Catalogs</li></a>
                    <a href="/books/"><li>Books</li></a>
                    <a href="/library/"><li>Library</li></a>
                    <a href="/accounts/logout"><li>logout</li></a>
                </ul>
            </div>
        </div>
        <div class="book">
            <div class="book-head">
                <div class="book-poster">
                    <img src={{object.poster}} alt=""/>
                </div>
                <div class="book-info">
                    {{object.title}}
                    <div class="book-subinfo">
                        <div class="book-author">{{object.author}}</div>
                        <div class="book-desc">{{object.description}}</div>
                    </div>
                </div>
            </div>
            <div class="book-content">
                {% if book.type is Audiobook %}
                    <div class="book-audio">
                    </div>
                {% endif %}
                <iframe src={{object.source}}>
            </div>
        </div>
        
    </body>

</html>